@media (max-width: 1400px) {
	.v-product-list__container{
		display: grid;
		grid-template-columns: repeat(2, 330px);
		justify-content: center;
	}
}
@media (max-width: 1070px) {
	.v-product-list__container{
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		
	}
}
@media (max-width: 800px) {
	.v-product-list{
		&__container{
			display: grid;
			grid-template-columns: repeat(1, 1fr);
			align-content: flex-end;
			align-self: end;
		}
	}
}
@media (max-width: 720px) {
	.home-page {
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.v-form__container{
		position: relative;
	}

	.v-product-list{
		position: relative;
		padding: 30px 0 0 0;
		
		&__container{
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			
			padding: 0;
			
		}
	}
}
